body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff8f0;
}

header {
    background-color: #d35400;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

section {
    padding: 20px;
}

h2 {
    color: #d35400;
    text-align: center;
}

.menu-item {
    background: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: 500px;
}

.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.offer {
    background: #ffe0b2;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a04000;
}

footer {
    background-color: #d35400;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}n